<app-navbar></app-navbar>
<h1 class="about">About Our Team</h1>
<p class="text-center"> Hour no find it park. Eat welcomed any husbands moderate. Led was misery played <br> waited almost cousin living. Of intention contained is by middleton am.</p>

<hr>
<div class="row p-5 text-center">
 <div class="col-3 pr-1">
    <img src="https://www.racebooking.net/images/profile_placeholder-300.jpg" width="200px">
    <h6>Jhon Deo</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>   

 </div>
 <div class="col-3">
    <img src="https://www.racebooking.net/images/profile_placeholder-300.jpg" width="200px" >
    <h6>Romson Lediro</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="col-3">
      <img src="https://www.racebooking.net/images/profile_placeholder-300.jpg"width="200px" >
      <h6>Roocklin Bruce</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="col-3">
    <img src="https://www.racebooking.net/images/profile_placeholder-300.jpg" width="200px">
    <h6>Donseny Riopsh</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>


</div>




<app-footer></app-footer>

